@model Model.YUN_FileInfo
@{
    Layout = null;
}

    <link href="~/Content/Css/Yun.css" rel="stylesheet" />
    <script src="~/Application/jwplayer-6.12.0/jwplayer.js"></script>
    <script type='text/javascript'>
        $(function () {
            $("#down").html("下载(" + DFBGFlie.Flie.FlieOperation.GetFileSize(@Model.FileSizeKb) + ")");
            jwplayer('myplayer').setup({
                stretching: "fill", //锁定高宽比填满屏幕

                flashplayer: "/Application/jwplayer-6.12.0/jwplayer.flash.swf", //调用播放器
                screencolor: "#fff",//播放器颜色
                repeat: "always",//重复播放
                //autostart:true,//自动播放
                width: '940',
                height: '420',
                levels: [{ file: "@Model.FileUrl" }] ////调用视频文件
            });

        })
    </script>
<div id="bd" class="global-clearfix">
    <div id="bd-main">
        <div id="popup_title" class="module-share-header YIdong">
            <div class="slide-show-header clearfix">
                <div class="title">
                    <h2 title="@Model.FileName" class="file-name">
                        @if( Model.FileExtName.Length != 0 )
                        {
                            <em class="global-icon-16 global-icon-16-@(Model.FileExtName.Substring(1, Model.FileExtName.Length - 1))"></em>
                        }
                        else
                        {
                            <em class="global-icon-16  global-icon-16-all"></em>
                        }
                        @Model.FileName
                    </h2>
                    <span class="slide-header-funcs">
                        @if( Model.CreateId == ViewBag.CreateId )
                        {
                            if( (bool) Model.IsShare )
                            {
                                <a onclick="DFBGFlie.Flie.FlieOperation.NotShare('@Model.FileId','Video')" class="g-button"><span class="g-button-right"><em title="取消分享" class="icon icon-share icon-share-cancel"></em><span class="text" style="width: auto;">取消分享</span></span></a>
                            }
                            else
                            {
                                <a onclick="DFBGFlie.Flie.FlieOperation.ShareTransfer('@Model.FileId','Video')" class="g-button"><span class="g-button-right"><em title="分享" class="icon icon-share-gray"></em><span class="text" style="width: auto;">分享</span></span></a>
                            }

                        }
                        @if( Model.FileUrl.Length > 0 )
                        {
                            <a onclick="DFBGFlie.Flie.FlieOperation.DownLoad('@Model.FileId')" class="g-button" style=""><span class="g-button-right"><em title="下载" class="icon icon-download-gray"></em><span id="down" class="text" style="width: auto;"></span></span></a>
                        }
                        <a class="g-button" onclick="$.closezhezhao('popup_container', 'popup_overlay')">
                            <span class="g-button-right" style="padding-right:10px;">
                                <span class="text" style="width: auto;">关闭</span>
                            </span>
                        </a>
                    </span>
                </div>
            </div>

        </div>
        <div class="share-file-viewer" style="margin:0px 0px 30px 0px;">
            <div id='myplayer'></div>
        </div>

    </div>
</div>
