@{
    ViewBag.Title = "ImgList";
    Layout = null;
}
<link href="/Content/Css/ImgList.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jQuery.asyncLoading2.js"></script>
<script src="~/Scripts/WEB/WebJs.js"></script>
<script src="~/Scripts/Yun/File.js"></script>
<script src="~/Scripts/Yun/ImgListInfo.js"></script>
<script type="text/javascript">
    $(function () {
        $(".year-li").click(function (e) {
            $(this).addClass("open").siblings().removeClass("open");
        })
        $(".name").click(function (e) {
            $(this).addClass("current").siblings().removeClass("current");
        })
        showTime('@(ViewBag.Time.Count>0?ViewBag.Time[0].YearS:"")', '@(ViewBag.Time.Count>0?ViewBag.Time[0].Moth:"")');
        
    })

</script>

<style type="text/css">
    .module-operate-btn { padding-top: 0px !important; }
    .module-timetree { top: 65px !important; }
</style>
<div class="module-timeline-tabs global-clearfix">
    <ul class="clearfix">
        <li class="selected"><a href="javascript:;">时光轴</a></li>
    </ul>
</div>

<div class="module-operate-btn global-clearfix FlieOperation" style="display: none;">
    <span class="operate-select-box">
        <em class="select"></em>
        <em class="icon smallcheck-icon"></em>
    </span>
    <span class="select-text">
        已选中<em class="number">0</em>张图片
    </span>
    <a href="javascript:;" onclick="DFBGFlie.Flie.FlieOperation.ShareTransfer()" class="btn btn-share global-clearfix">
        <em class="icon icon-share"></em>
        <b>分享</b>
    </a>
    <a href="javascript:;" onclick="DFBGFlie.Flie.FlieOperation.DownFileMore()" class="btn btn-download global-clearfix">
        <em class="icon icon-download"></em>
        <b>下载</b>
    </a>
    <a href="javascript:;" onclick="DFBGFlie.Flie.FlieOperation.Transfer('', 'parent','Yes')" class="btn btn-clear-file global-clearfix">
        <em class="icon icon-delete"></em>
        <b>删除</b>
    </a>
</div>

<div class="module-timetree bottom-more" style="height: 263px; overflow: hidden;">
    <div class="scroller">
        <div class="container">
            <ul class="years">
                @{string YearS = ""; int i = 0;}
                @foreach( var Year in ViewBag.Time )
                {
                    if( YearS != Year.YearS )
                    {
                        YearS = Year.YearS;
                        int y = 0;
                        <li class="year-li @(i == 0 ? "open" : "")">
                            <div class="name  currenting">@Year.YearS</div>

                            <ul class="month">
                                @foreach( var month in ViewBag.Time )
                                {
                                    if( month.YearS == Year.YearS )
                                    {

                                        <li class="name @(y == 0 ? "current" : "")" onclick="showTime(@Year.YearS,@month.Moth)" data-firstday="20170730">@month.Moth</li>
                                        y++;
                                    }
                                }
                            </ul>
                        </li>
                                i++;
                    }
                }
            </ul>
        </div>
    </div>
</div>

<div class="empty-time">
    <div class="module-timeline" id="main-timeline" style=" height:90%">
        <div class="timeline-item  global-clearfix alloff">
        </div>
    </div>
</div>
