@model Model.YUN_FileInfo
@{
    ViewBag.Title = "Detail";
    Layout = null;
}
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=7,9,10,11" http-equiv="X-UA-Compatible">
    <meta content="webkit" name="renderer">
    <title>壹键通教育云盘服务平台</title>
    <meta content="width=device-width, initial-scale=1, user-scalable=0" name="viewport">
    <link href="~/Content/Css/CSS.css" rel="stylesheet" />
    <link href="~/Content/Css/CSS_two.css" rel="stylesheet" />
    <link href="~/Content/Css/Share.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Yun/File.js"></script>
</head>
<body class="body">
    <div class="mainwrapper">
        <div class="header" style="height:76px;">
            <div class="headerinner">
                <div style="float: left; height: 76px; margin-left:20px;">
                    <img src="/Content/Img/logo.gif" style=" margin-top:5px; ">
                </div>
                <div style="float: left; height: 76px;">
                    <img src="/Content/Img/logo2.png" style=" margin-top:5px; ">
                </div>
                <ul class="headmenu">
                    <li class="right">
                        <div class="userloggedinfo">
                            <div class="userinfo">
                                <h5>
                                    @if( ViewBag.Te != null )
                                    {
                                    @ViewBag.Te.userName;
                                                            string userType = ViewBag.Te.userType;
                                                            switch( userType )
                                                            {
                                                                case "1":
                                    <small>-教师</small>
                                                                    break;
                                                                case "2":
                                    <small>-学生</small>
                                                                    break;
                                                                case "3":
                                    <small>-家长</small>
                                                                    break;
                                                                default:
                                                                    break;
                                                            }
                                    }
                                </h5>
                                <ul>
                                    <li>
                                        <a href="/Home/OutLogin">退出登录</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div id="layoutApp" class="frame-all">
            <div id="layoutMain" class="frame-main">
                <div class="frame-content">
                    <div class="module-share-header">
                        <div class="slide-show-header clearfix">
                            <div class="slide-show-left">
                                <h2 title="@Model.FileName" class="file-name"><em class="global-icon-16 global-icon-16-@Model.FileExtName.Replace(".","")"></em> @Model.FileName</h2>
                            </div>
                            <div class="slide-show-right">
                                <span class="slide-header-funcs">
                                </span>
                                <div class="module-share-top-bar g-clearfix">
                                    <div class="bar" style="white-space: nowrap; position: relative;">
                                        <div style="display:inline-block;*display:inline;*zoom:1;width:1px;height:1px;line-height:0;" class="button-box-mark">
                                        </div>
                                        <div style="position: absolute; top: 0px; padding-top: 0px; line-height: normal;" class="button-box">
                                            @if( Model.CreateId == ViewBag.Te.userCode )
                                            {
                                                if( (bool) Model.IsShare )
                                                {
                                                    <a onclick="DFBGFlie.Flie.FlieOperation.NotShare('@Model.FileId','')" data-button-index="1" data-button-id="b1" class="g-button">
                                                        <span class="g-button-right">
                                                            <em title="取消分享" class="icon icon-share-cancel"></em>
                                                            <span class="text" style="width: auto;">取消分享</span>
                                                        </span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a onclick="DFBGFlie.Flie.FlieOperation.ShareTransfer('@Model.FileId','')" data-button-index="1" data-button-id="b1" class="g-button">
                                                        <span class="g-button-right">
                                                            <em title="分享" class="icon icon-share-cancel"></em>
                                                            <span class="text" style="width: auto;">分享</span>
                                                        </span>
                                                    </a>
                                                }

                                            }

                                            <a href="javascript:void(0);" data-button-index="2" data-button-id="b3" class="g-button">
                                                <span class="g-button-right">
                                                    <em title="下载(5.8M)" class="icon icon-download">
                                                    </em>
                                                    <span class="text" style="width: auto;">下载(5.8M)</span>
                                                </span>
                                            </a>
                                            <a href="javascript:void(0);" data-button-index="3" data-button-id="b5" class="g-button">
                                                <span class="g-button-right">
                                                    <em title="" class="icon icon-qrcode"></em>
                                                    <span class="text" style="width: auto;"></span>
                                                </span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cb"></div>
                            <div class="slide-show-other-infos">
                                <div class="share-file-info">
                                    <span>@(Convert.ToDateTime( Model.ShareTime ).ToString( "yyyy-MM-dd HH:mm" ))</span>
                                </div>

                                <div class="slide-show-other-cns clearfix">
                                    <span class="title-funcs">
                                        <a title="赞" id="albumTui" href="javascript:void(0);" class="funcs-tui"><em class="tui_icon"></em><b>赞(0)</b><span class="tui-number"></span></a>
                                        <span class="share-operate-seprate"></span>
                                        <div class="comment-container">
                                            <a href="#comment_panel" class="funcs-comment">评论(0)</a>
                                        </div>
                                        @*<span class="funcs-share-area">
                                                <span class="share-operate-seprate"></span>
                                                <div class="funcs-share">
                                                    <span>分享至</span>
                                                    <em class="btn-icon more-icon"></em>
                                                    <div id="bdshare_panel" style="display: none;">
                                                        <div class="bdshare_t bds_tools get-codes-bdshare" id="bdshare">
                                                            <a class="bds_tsina" title="分享到新浪微博" href="#">新浪微博</a>
                                                            <a class="bds_qzone" title="分享到QQ空间" href="#">QQ空间</a>
                                                            <a class="bds_tqq" title="分享到腾讯微博" href="#">腾讯微博</a>
                                                            <a class="bds_renren" title="分享到人人网" href="#">人人网</a>
                                                            <a class="bds_t163" title="分享到网易微博" href="#">网易微博</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </span>*@

                                    </span>
                                </div>
                                <div class="cb"></div>
                            </div>
                        </div>
                    </div>
                    <div class="module-share-file-main">
                        <div class="share-file-viewer">
                            <div class="picture-file-detail">
                                <div id="rotateContainer" class="picContainer poorRotaterBox" style="position: relative;">
                                    <img alt="DSC03535.JPG" id="rotateImage" style="visibility: visible; height: auto; width: auto;" src="http://thumbnail0.baidupcs.com/thumbnail/3d474bd510235756d009a9f2abad26dc?fid=3759912458-250528-707529703450356&amp;time=1502935200&amp;rt=sh&amp;sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-gVhOxTnaCy52FJDD%2BbzbGbhCgog%3D&amp;expires=8h&amp;chkv=0&amp;chkbd=0&amp;chkpc=&amp;dp-logid=5298319494046842943&amp;dp-callid=0&amp;size=c710_u400&amp;quality=100&amp;vuk=-&amp;ft=video" class="poorRotater-1">
                                </div>

                                <div class="rotateBar" style="display: none;">
                                    <div class="border"></div>
                                    <div class="bgMask"></div>
                                    <div class="rotateButtons">
                                        <span title="向左转" class="leftRotaterBtn RotaterBtn" id="leftRotater"></span>
                                        <span title="向右转" class="rightRotaterBtn RotaterBtn" id="rightRotater"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a id="comment_panel" name="comment_panel" href="javascript:;"></a>
                    <div class="comment_panel global-clearfix">
                        <div class="module-comment module-comment-page">
                            <div class="header2">
                                <h3 class="title">参与评论</h3>
                                <div class="description">
                                    <textarea id="commentTextarea" class="area"></textarea>
                                    <label class="placeholder fn-block">来说两句话~</label>
                                </div>
                                <div class="deal clearfix">
                                    <div class="vcode fn-fl fn-block">
                                        <div class="verify-body1">
                                            验证码：
                                            <input type="text" maxlength="4" class="input-code"><img class="img-code" style="display: inline-block;" src="">
                                            <a class="underline" href="javascript:void(0);">换一张</a>
                                        </div>
                                    </div>
                                    <div class="operation fn-fr">
                                        <a class="btn-comment" href="javascript:void(0);">评论</a>
                                    </div>
                                </div><div class="error-message"></div>
                            </div>
                            <div class="list">
                                <div class="total">共<span>1</span>条</div>
                                <ul class="feed">
                                    <li data-uname="yun*****7201" data-commentid="7489118050449088319" data-uk="3759912458" class="item clearfix">
                                        <div class="img-wrapper fn-fl">
                                            <a target="_blank" class="link" href="/share/home?uk=3759912458">
                                                <img width="50" height="50" src="http://himg.bdimg.com/sys/portrait/item/f8e0d51f.jpg" class="fn-block">
                                            </a>
                                        </div>
                                        <div class="item-info">
                                            <p class="info-head">
                                                <a class="talk" target="_blank" href="/share/home?uk=3759912458">yun*****7201</a>：
                                            </p>
                                            <p class="Textbody">qweqweqdasd a</p>
                                            <p class="foot clearfix">
                                                <a href="javascript:void(0);" class="reply fn-fr">回复</a><span class="time fn-fl">13:57</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="page clearfix"></div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="dialog_two_dimension_code default_qr" id="_disk_id_2" style="left: 975px; top: 124px;">
        <div class="inner_two_dimension_code">
            <div class="two_dimension_code_top"></div>
            <div class="two_dimension_code_main" title="">
                <img src="/share/qrcode?w=148&amp;h=148&amp;url=http%3A%2F%2Fpan.baidu.com%2Fs%2F1i4G14c1%26qrfrom%3D1%26qrtype%3Dmulti" style="margin-top: 10px;">
            </div>
            <div class="two_dimension_code_bottom">扫描二维码，将文件发送到手机</div>
        </div>
    </div>
</body>
</html>
